<!doctype html>

<head>

  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="">

  <meta name="author" content="Rodrigo Hernando">

  <meta name="keywords" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

</head>

<body>

  <div class="main-container">
    <div class="card">
      <h3 class="text-center text-3xl font-semibold">Sign In Form</h3>
      <form>
        <div class="form-group">
          <label for="name">Full Name</label>
          <input type="text" name="name" id="name" placeholder="Full Name">
        </div>

        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" name="email" id="email" placeholder="Email address">
        </div>

        <div class="login-btn-container">
          <input type="submit" value="Sign In" id="submitForm" />
          <input type="reset" value="Clear" />
        </div>
      </form>
    </div>
  </div>

</body>

</html>